<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h1>hello</h1>

    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    <a href="/rango/about/">About</a><br>
    <a href="/rango/add_category/">Add Category</a><br>

{% endblock %}