<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<style type="text/css">
    body { color: #efd; background: #453; padding: 0 5em; margin: 0 }
    h1 { padding: 2em 1em; background: #675 }
    h2 { color: #bf8; border-top: 1px dotted #fff; margin-top: 2em }
    p { color: yellow; margin: 1em 0}
 </style>
<head>
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon" />
    <title></title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>