<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        div#container {width:500px;}
        div#header {background-color:#99bbbb;}
        div#menu {background-color: #9cdb32; height: 200px; width: 100px; float: left;}
        div#content {background-color: #6495ed; height: 200px; width: 400px; float: left;}
        div#footer {background-color: #1e90ff; clear: both;}
        h1 {margin-bottom: 0;}
        h2 {margin-bottom: 0;font-size: 14px;}
        ul {margin: 0;}
        li {list-style: none;}
    </style>

</head>
<body>

<form>
    firstname<input type="text" name="first"><br>
    lastname<input type="text" name="last"><br>
    <input type="submit" value="Submit">

</body>
</html>